@import './variables.scss';
@import './markdown.scss';

html,
body {
  background: $almost-white;
	color: $gray-darkest;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 600;
}

p,
a,
span,
ul,
li {
  line-height: 1.5rem;
}

a {
	color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 2.625rem;
  &:first-child {
    margin-top: 0;
  }
}

h2 {
  margin-top: 32px;
}

h3 {
  color: $gray-dark;
}

ul > li > ul {
  margin-bottom: 8px;
}

@media only screen and (max-width: 720px) {
  html,
  body {
    font-size: min(3.5vw, 16px);
  }
}
