$almost-white: #fbfbfb;
$gray-light: #b3b3b3;
$gray-lighter: #cdcdcd;
$gray-lightest: #e6e6e6;
$gray: #808080;
$gray-dark: #676767;
$gray-darker: #4d4d4d;
$gray-darkest: #343434;
$primary-color: #F14924;
$primary-color-dark: #d4310e;
$secondary-color: #0db6d8;