---
import ArticleItem from '@/components/ArticleItem.astro';
import TagGroup from '@/components/TagGroup.astro';
import PageWrapper from '@/layouts/PageWrapper.astro';
import { TagItem } from '@/interfaces/tags';

const articles = (await Astro.glob('../articles/*.md')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const tags = [
  {
    label: 'Freelance',
    size: 'md',
    color: 'secondary',
  },
  {
    label: 'Frontend',
    size: 'md',
    color: 'secondary',
  },
  {
    label: 'VueJS',
    size: 'md',
    color: 'secondary',
  },
  {
    label: 'Agile',
    size: 'md',
    color: 'secondary',
  },
  {
    label: 'Management',
    size: 'md',
    color: 'secondary',
  },
  {
    label: 'Figma',
    size: 'md',
    color: 'secondary',
  },
  {
    label: 'UIUX',
    size: 'md',
    color: 'secondary',
  },
  {
    label: 'NextJS',
    size: 'md',
    color: 'secondary',
  },
  {
    label: 'ReactJS',
    size: 'md',
    color: 'secondary',
  },
  {
    label: 'Astro',
    size: 'md',
    color: 'secondary',
  },
  {
    label: 'Web Development',
    size: 'md',
    color: 'secondary',
  },
  {
    label: 'Web Components',
    size: 'md',
    color: 'secondary',
  },
  {
    label: 'SSR',
    size: 'md',
    color: 'secondary',
  },
] as TagItem[];
---

<PageWrapper>
  <div class="content">
    <div class="content__articles">
      <h2>Articles</h2>
      <div class="content__list">
        {articles.map(({ frontmatter: { title, excerpt, pubDate } }) => (
          <div class="content__list__item">
            <ArticleItem title={title} excerpt={excerpt} date={pubDate}/>
          </div>
        ))}
      </div>
    </div>
    <div class="content__tags">
      <div>
        <h4>Browse by tags</h4>
        <TagGroup data={tags} />
      </div>
    </div>
  </div>
</PageWrapper>
<style lang="scss">
  .content {
    display: grid;
    gap: 116px;
    grid-template-columns: 1.25fr 0.75fr;
    h2 {
      margin: 0 0 32px;
      padding-top: 24px;
    }
    .content__articles {
      .content__list {
        .content__list__item {
          margin-bottom: 32px;
        }
      }
    }
    .content__tags {
      > div {
        position: sticky;
        top: 0;
      }
    }
  }
</style>
