---
import { Article } from '@/interfaces/articles';
import Icon from 'astro-icon';
import TagGroup from './TagGroup.astro';

let articles = await Astro.glob<Article>('../articles/**/*.mdx');

articles = articles.sort((a, b) => {
  return new Date(b.frontmatter.pubDate).valueOf()
    - new Date(a.frontmatter.pubDate).valueOf();
});

const {
  Content,
  frontmatter: {
    tags,
    pubDate,
  },
} = articles[0];
---

<div class="article">
  <div class="article__head">
    <div>
      <span>Tags: </span>
      <TagGroup tags={tags} size="md"/>
    </div>
    <span>{pubDate}</span>
  </div>
  <div class="content">
    <Content />
  </div>
  <div class="article-toggle article-toggle--expanded">
    <div class="article-toggle__toggle">
      <Icon
        class="article-toggle__toggle__icon article-toggle__toggle__icon--visible"
        name="akar-icons:circle-chevron-down-fill"
      />
      <p class="article-toggle__toggle__icon">Collapse article</p>
    </div>
  </div>
</div>
<style lang="scss">
  @import '../styles/variables.scss';

  div.article {
    position: relative;
    h1 {
      color: $primary-color;
      margin: 12px 0 24px;
    }
    .article__head {
      color: $gray-lighter;
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;
      > div {
        display: inherit;
        flex: 1;
        > span {
          margin-right: 8px;
        }
      }
    }
    .content {
      background: white;
      border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
      padding: min(5vw, 24px) min(5vw, 32px) 56px;
      height: 280px;
      overflow: hidden;
      &.content--visible {
        height: auto;
        ~ .article-toggle {
          background: none;
          .article-toggle__toggle {
            width: auto;
            height: auto;
            top: 0;
          }
        }
      }
    }
    .article-toggle {
      align-items: end;
      border-radius: 0 0 16px 16px;
      bottom: 0;
      display: flex;
      height: 140px;
      justify-content: center;
      position: absolute;
      width: 100%;
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      > div {
        color: $primary-color;
        cursor: pointer;
        height: 40px;
        width: 40px;
        position: relative;
        top: 20px;
      }
      .article-toggle__toggle__icon {
        display: none;
        &.article-toggle__toggle__icon--visible {
          display: block;
        }
      }
    }
  }
</style>
<script is:inline>
  document.querySelector('.article-toggle__toggle')
    .addEventListener('click', () => {
      const content = document.querySelector('.content');
      const articleToggle = document.querySelector('.article-toggle');
      const toggleTriggers = document.querySelectorAll(
        '.article-toggle__toggle__icon'
      );
      const className = 'article-toggle__toggle__icon--visible';
      
      content.classList.toggle('content--visible');
      articleToggle.classList.toggle('article-toggle--expanded');

      toggleTriggers.forEach((element) => {
        if (element.classList.contains(className)) {
          element.classList.remove(className);
        } else {
          element.classList.add(className);
        }
      });
  });
</script>
