---
import { SITE_TITLE } from '../config';
---

<header>
  <h2>
    &lt;{SITE_TITLE}/&gt;
  </h2>
  <nav>
		
  </nav>
</header>
<style lang="scss">
  @import '../styles/variables.scss';

  h2 {
    color: $primary-color;
    font-size: 2em;
    font-weight: 700;
  }
</style>
