---
import { SITE_TITLE } from '../config';
import Presence from './Presence.astro';
import { Icon } from 'astro-icon';
---
<header>
  <div class="header__head">
    <h2>
      <a href="/">&lt;{SITE_TITLE} /&gt;</a>
    </h2>
    <div class="header__head__mobile-menu">
      <Icon name="eva:menu-outline" />
    </div>
  </div>
  <div class="header__actions">
		<div class="header__nav">
      <a href="/articles">Articles</a>
      <a href="/aboutMe">About me</a>
    </div>
    <Presence />
  </div>
</header>
<style lang="scss">
  @import '../styles/variables.scss';

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
    a:hover {
      text-decoration: none;
    }
    h2 {
      color: $primary-color;
      font-size: 2rem;
      font-weight: 700;
    }
    .header__head {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      .header__head__mobile-menu {
        width: 28px;
        height: 28px;
        display: none;
      }
    }
    .header__actions {
      display: flex;
      .header__nav {
        font-weight: 600;
        margin-right: 32px;
        > a {
          margin: 0 16px;
          &:hover {
            color: $primary-color-dark;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 720px) {
    header { 
      flex-direction: column-reverse;
      .header__head {
        padding-top: 24px;
        width: 100%;
        .header__head__mobile-menu {
          display: block;
        }
      }
      .header__actions {
        padding-top: 16px;
        .header__nav {
          display: none;
        }
      }
    }
  }
</style>
