---
import { SITE_TITLE } from '../config';
import Presence from './Presence.astro';
import { Icon } from 'astro-icon';
import MobileMenu from './MobileMenu.astro';
---
<header>
  <div class="header__head">
    <h2>
      <a href="/">&lt;{SITE_TITLE} /&gt;</a>
    </h2>
    <div class="header__head__mobile-menu">
      <div class="header__head__mobile-menu__toggle">
        <div class="header__head__mobile-menu__toggle__open">
          <Icon name="eva:menu-outline" />
        </div>
        <div class="header__head__mobile-menu__toggle__close">
          <Icon name="eva:close-outline" />
        </div>
      </div>
    </div>
    <div class="header__head__mobile-menu__items">
      <MobileMenu />
    </div>
  </div>
  <div class="header__actions">
		<div class="header__nav">
      <a href="/articles">Articles</a>
      <a href="/about-me">About me</a>
    </div>
    <Presence />
  </div>
</header>
<style lang="scss">
  @import '../styles/variables.scss';

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: min(4vw, 48px);
    a:hover {
      text-decoration: none;
    }
    h2 {
      color: $primary-color;
      flex: 1;
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0;
    }
    .header__head {
      align-items: center;
      display: flex;
      justify-content: space-between;
      position: relative;
      .header__head__mobile-menu {
        display: none;
        &.header__head__mobile-menu--open {
          ~ .header__head__mobile-menu__items {
            display: block;
          }
          .header__head__mobile-menu__toggle {
            .header__head__mobile-menu__toggle__open {
              display: none;
            }
            .header__head__mobile-menu__toggle__close {
              display: block;
            }
          }
        }
        ~ .header__head__mobile-menu__items {
          display: none;
        }
        .header__head__mobile-menu__toggle {
          width: 28px;
          height: 28px;
          cursor: pointer;
          .header__head__mobile-menu__toggle__open {
            display: block;
          }
          .header__head__mobile-menu__toggle__close {
            display: none;
          }
        }
      }
    }
    .header__actions {
      display: flex;
      .header__nav {
        font-weight: 600;
        margin-right: 32px;
        > a {
          margin: 0 16px;
          &:hover {
            color: $primary-color-dark;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 720px) {
    header { 
      flex-direction: column-reverse;
      .header__head {
        padding-top: min(4vw, 24px);
        width: 100%;
        .header__head__mobile-menu {
          display: block;
        }
      }
      .header__actions {
        padding-top: min(2vw, 16px);
        .header__nav {
          display: none;
        }
      }
    }
  }
</style>
<script is:inline>
  const menuToggle = document.querySelector(
    '.header__head__mobile-menu__toggle'
  );
  const menu = document.querySelector('.header__head__mobile-menu__items');
  let isMenuOpen = false;

  const toggleMenu = () => {
    menuToggle.parentElement.classList.toggle(
      'header__head__mobile-menu--open'
    );
    isMenuOpen = !isMenuOpen;
  }

  document.addEventListener('click', (e) => {
    if (e.composedPath().includes(menuToggle)) {
      toggleMenu();
    } else if (!e.composedPath().includes(menu) && isMenuOpen) {
      toggleMenu();
    }
  });
</script>
