---
import { Icon } from 'astro-icon'
---
<div>
  <div>
    <Icon name="fa:github-alt" />
  </div>
  <div>
    <Icon name="fa-regular:paper-plane" />
  </div>
  <div>
    <Icon name="fa-brands:linkedin-in" />
  </div>
  <div>
    <Icon name="fa-solid:rss" />
  </div>
</div>
<style lang="scss">
  @import '../styles/variables.scss';

  div {
    align-items: center;
    color: $gray-light;
    display: flex;
    &:hover {
      color:$gray-dark;
    }
    > div {
      cursor: pointer;
      margin: 0 8px;
      svg {
        height: min(4vw, 20px);
        width: min(4vw, 20px);
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  
</style>
