---
import { TagItem } from '@/interfaces/tag';

export interface Props extends TagItem{
  tag: string | number,
};

const { tag, size }:Props = Astro.props;

const isNumber:number = !isNaN(tag);
---
<a
  href={isNumber || `/articles/tags/${tag.toLowerCase()}/`}
  class={`tag ${size}`}
>
  {isNumber && '+'}{tag}
</a>
<style lang="scss">
  @import '../styles/variables.scss';

  a.tag {
    color: $secondary-color;
    &.sm {
      font-size: 0.75rem;
    }
    &.md {
      font-size: 1rem;
    }
  }
</style>
