---
import '@/styles/global.scss';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={SITE_DESCRIPTION}>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>{SITE_TITLE}</title>
  </head>
  <body>
    <div class="page">
      <Header />
      <div class="page__content">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
<style lang="scss">
.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 16px 32px 0;
  margin: auto;
  width: min(1024px, 100%);
  .page__content {
    flex: 1;
  }
}
</style>